@page "/foods/edit"
@using Microsoft.EntityFrameworkCore
@using NutrifyTest1.Components.Domain
@inject IDbContextFactory<NutrifyTest1.Data.NutrifyTest1Context> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Food</h2>
<hr />
@if (Food is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Food" OnValidSubmit="UpdateFood" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Food.FoodID" value="@Food.FoodID" />
                <div class="mb-3">
                    <label for="name" class="form-label">Name:</label>
                    <InputText id="name" @bind-Value="Food.Name" class="form-control" />
                    <ValidationMessage For="() => Food.Name" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="barcode" class="form-label">Barcode:</label>
                    <InputText id="barcode" @bind-Value="Food.Barcode" class="form-control" />
                    <ValidationMessage For="() => Food.Barcode" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="category" class="form-label">Category:</label>
                    <InputText id="category" @bind-Value="Food.Category" class="form-control" />
                    <ValidationMessage For="() => Food.Category" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="servingsize" class="form-label">ServingSize:</label>
                    <InputNumber id="servingsize" @bind-Value="Food.ServingSize" class="form-control" />
                    <ValidationMessage For="() => Food.ServingSize" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="nutrients" class="form-label">Nutrients:</label>
                    <InputText id="nutrients" @bind-Value="Food.Nutrients" class="form-control" />
                    <ValidationMessage For="() => Food.Nutrients" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/foods">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int FoodID { get; set; }

    [SupplyParameterFromForm]
    private Food? Food { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Food ??= await context.Food.FirstOrDefaultAsync(m => m.FoodID == FoodID);

        if (Food is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateFood()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Food!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!FoodExists(Food!.FoodID))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/foods");
    }

    private bool FoodExists(int foodid)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Food.Any(e => e.FoodID == foodid);
    }
}
